<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITEnterprDataBase.Properties.Settings.TestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Test.accdb"
            providerName="System.Data.OleDb" />
        <add name="ITEnterprDataBase.Properties.Settings.DDEConnectionString"
            connectionString="Data Source=10.63.71.180;Initial Catalog=DDE;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>